
.movie-form-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 30px 40px;
  background: linear-gradient(145deg, #f8f4f4, #f0f0f0);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s, box-shadow 0.2s;
}

.movie-form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.12), 0 8px 10px rgba(0,0,0,0.06);
}


.movie-form-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.movie-form-container label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
  font-size: 13px;
}


.movie-form-container input[type="text"],
.movie-form-container input[type="file"], 
.movie-form-container input[type="text-area"]  {
  padding: 12px 15px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 12px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.movie-form-container input[type="text"]:focus,
.movie-form-container input[type="file"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0,123,255,0.25);
}


.movie-form-container button {
  padding: 12px;
  background: linear-gradient(135deg, #007BFF, #00C6FF);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 1rem;
  transition: background 0.3s, transform 0.15s, box-shadow 0.3s;
}

.movie-form-container button:hover {
  background: linear-gradient(135deg, #0056b3, #0099cc);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.movie-form-container button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
